<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="d6e49972-60d9-4727-90f0-22c1a4e87f16" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://reqres.in" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings><con:setting id="d6e49972-60d9-4727-90f0-22c1a4e87f16fileName">https%3A%2F%2Freqres.in</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://reqres.in</con:endpoint></con:endpoints></con:interface>